<!DOCTYPE html>
{% load staticfiles %}
<html lang="kor">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>YK Site</title>
    
    <link href="{% static 'css/simple-sidebar.css'%}" rel="stylesheet">
    
	<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>
<div id="wrapper">
	{% block content %}
	hello world
	{% endblock %}
</body>
</html>