<html>
<head>
<title>YK Site</title>
</head>
<body>
<div id='search'>
<script>
  (function() {
    var cx = '002801640917894939692:-ujoyeak5lo';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search></div>
</body>
</html>