{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("toggled");
});
function goCollection(col){
	$("input:hidden[name='collection']").val(col);
	$("form").submit();
}
function goSearch(){
	$("form").submit();
}
</script>
<form name='search' action='/search/' method='post'>
<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a href="#">검색카테고리</a></li>
		<li><a href="#" onclick="goCollection('ALL')">ALL</a></li>
       	<li><a href="#" onclick="goCollection('sample_kms')">sample_kms</a></li>
       	<li><a href="#" onclick="goCollection('sample_edu')">sample_edu</a></li>
       	<li><a href="#" onclick="goCollection('sample_terms')">sample_terms</a></li>
       	<li><a href="#" onclick="goCollection('sample_bbs')">sample_bbs</a></li>
   	</ul>
   </div>
   <!-- /#sidebar-wrapper -->
<div id="page-content-wrapper">
    <div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<input type='hidden' name='collection' value='{{data.collection}}'/>
				<input type='text' name='query' value='{{data.query}}'/><button class="btn btn-default" onclick="goSearch()">search</button>
				<!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
				<br>
				{% for collection in resultObj.Collection %}
				{{ collection.Id }}
				<table class="table-2">
					<thead>
					{% for key, value in collection.DocumentSet.Document.0.Field.items %}
						<th>{{key}}</th>
					{% endfor %}
					</thead>
					{% for i in collection.DocumentSet.Count|make_list %}
					<tbody>
					{% for el in collection.DocumentSet.Document.i %}
					<tr>
						{% for key in collection.DocumentSet.Document.0.Field.items %}
						<td>{{el.key}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
					</tbody>
					{% endfor %}
				</table>
				{% endfor %}
	        </div>
	    </div>
	</div>
</div>
</form>
{% endblock %}